*{
    margin: 0;
    padding: 0;
}

:root {
    /* --van-cell-background-color: skyblue; */
}

html,body, #app {
    height: 100%;
}


.header-bookshelf .van-tab--active .van-tab__text {
    color: #FF620E;
}