:root {
    --van-swipe-indicator-active-background-color: #fff;
    --van-swipe-indicator-inactive-opacity: 0.6;
    --van-grid-item-content-padding: 12px 18px 14px;
    --van-cell-icon-size: 20px;
    --van-cell-group-title-font-size: 16px;
    --van-grid-item-content-padding: 0;
    --van-cell-horizontal-padding: 0;
    --van-card-font-size: 16px;
}

img {
    width: 100%;
    height: 100%;
}

/* 底部导航文字颜色 */
.van-tabbar-item__text {
    color: #999;
}

/* 录播图指示器 */
.van-swipe__indicators {
    left: 100%;
    margin-left: -24px;
    transform: translateX(-100%);
}

.van-cell__value span,
.van-cell__right-icon {
    font-size: 14px;
}

.title .van-cell__title {
    font-size: 18px;
}

.djzp .van-grid-item__content {
    padding: 0;
}

.van-cell__title span,
.van-cell__label {
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin-top: 0;
}

/* .underBanner .van-grid,
.kzjp .van-grid, */
.van-grid {
    justify-content: space-between;
}


.kzjp .van-cell {
    line-height: 1.5;
}

.kzjp .van-grid-item {
    padding-bottom: 10px;
}

.content .van-cell {
    padding: 0;
    margin-bottom: 12px;
}

.sszk .van-card {
    height: 130px;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.sszk .van-card .van-card__thumb {
    height: 100%;
    margin-right: 14px;
}
.sszk .van-card__thumb img {
    border-radius: 0;
}

.sszk .van-cell {
    padding-top: 0;
}

.novelList .van-grid-item {
    margin-bottom: 10px;
}