$myWhite: rgba(255, 255, 255, 0.872);
$myOrange: #FF620E;
$myGray1: #eee;

@mixin Aattribute {
    display: block;
    width: 46vw;
    height: 26vw;

}

@mixin catalog-item{
    display: inline-block;
    width: 45vw;
    height: 26vw;
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    list-style: none;
    margin: 2vw 2vw;
    padding: 0;
}